.index {
  max-width: 1800px;
  width: 75vw;
  margin:  auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.index-pic {
  width: /*15vw*/20em;
  height: auto;
}

#tendances, #défis {
  width: 36.5vw;
  text-align: center;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  margin-top: 0.5em;
  border-bottom: black 1px solid;
}

.video-container{
  width:75vw;
  height:65vh;
  overflow:hidden;
  position:relative;
}

.video-container iframe{
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
  pointer-events: none;
}

.video-foreground{
  pointer-events:none;
}