.index {
  width: 75vw;
  margin:  auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.index-pic {
  width: /*15vw*/20em;
  height: auto;
}

#tendances, #défis {
  width: 43.75em;
  text-align: center;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: black 1px solid;
}
