.index {
  width: 80%;
  margin:  auto;
  display: flex;
  flex-wrap: wrap;
  
  
}

.index-picContainer {
  width: 75vw;
  height: auto;
  margin: auto;
  
}

.index-pic {
  width: 15vw;
  height: auto;
}
