@use "src/assets/styles/input";
@use "src/assets/styles/vars" as *;

.product {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.product-picContainer {
  width: 100%;
  height: auto;
  @media screen and (min-width: $breakLarge) {
    width: 40%;
  }
}

.product-pic {
  width: 100%;
  height: auto;
}

.product-aside {  
  width: 100%;
  @media screen and (min-width: $breakLarge) {
    width: 50%;
    margin-left: 3em;
  }
}

.product-name {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}

.product-description {
  font-size: 1em;
  margin-bottom: 1.5em;
}

.product-price {
  font-size: 1.5em;
  margin-top:1rem;
  text-align: center;
}

.cart {
  margin-right: 1em;
}

.product-submit {
  @extend .button-submit;  
  margin:auto;
  margin-top:1.5rem;
}

form .display-block {
  display: block;
}

div .product-input { 
  width: 50%;  
}

div .text-center {
  text-align: center;
}

.comment {
  color:grey;
  font-style: italic;
  margin-top:1rem;
    
}

.comment-error {
  @extend .comment;
  color:darkred;
  text-align: right;
}

.comment-price {
  @extend .comment;
  font-size: 0.9rem;
  display: block;
}




