.product {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.product-picContainer {
  width: 30vw;
  height: auto;
}

.product-pic {
  width: 30vw;
  height: auto;
}

.product-aside {
  margin-left: 3em;
}

.product-name {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}

.product-description {
  font-size: 1em;
  margin-bottom: 1.5em;
}

.product-price {
  font-size: 1.5em;
  float: right;
}

.cart {
  margin-right: 1em;
}


