.tendance {
  margin-top: 5vh;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}


.banniere {
  width: 55em;
  height: 30em;
}


.aside {
  text-align: justify;
  width: 30vw;
  margin-left: 2vw;
}

.title {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
}
