.index {
  max-width: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
}

.tendance {
  margin-top: 5vh;
  max-width: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  margin-left: 4vw;
}

.banniere {
  width: 55em;
}


#lorem {
  text-align: justify;
  width: 30vw;
  margin-left: 2vw;
}

.title {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: bold;
}
