
@import './vars'; // colors, fonts etc...
@import './layout'; // responsive grid and media queries
.navbar {
  max-width: 100%;
  margin: 1em 3em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  a {
    margin-right: 0.25em;
    text-decoration: none;
    color: $linksColor ;
    letter-spacing: 3px;
    transition: color .3s;
    font-size: 1.5rem;
    &:active, &:hover
      { 
      color: $linksActiveHoverColor;
      }
    }
  }

.categories {
  font-size: 0.1rem;
  font-weight: bold;
  padding-right: 1.5rem;
}

.dropdown {

position: relative;
display: inline-block;

}

.dropdown-content {

display: none;
position: absolute;
background-color: white;
z-index: 1;

  a {
color: $linksColor;
display: block;
text-decoration: none;
padding-top: 1rem;
letter-spacing: 1px;

  }
}

.dropdown:hover .dropdown-content { display: block;}

.nav-links {
  display: flex; 
  flex-wrap: wrap;
}

.navbar li {
  list-style: none;
  display: inline-block;
}

.icons {
  padding: 0.5rem;
}

.logo {
width: 15rem;
height: 5rem;
}

#men {

}

#women {

}

#trend {

}

#challenges{

}

