@import './vars'; // colors, fonts etc...


@font-face {
  src: $mainFont-src;
  font-family: $mainFont-Family;
}

body {
  font-family: $mainFont-Family;
  
}

html {
  box-sizing: border-box;  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error404 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.error404-comment {
  text-align: center;
  font-style: italic;
}
