@import './vars'; // colors, fonts etc...


@font-face {
  src: $mainFont-src;
  font-family: $mainFont-Family;
}

body {
  font-family: $mainFont-Family;
  
}

html {
  box-sizing: border-box;  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

